.navbar{
    z-index: 4;
    background-color: black;
	min-width: 100%;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
}

ul.Header{
    display: flex;
    justify-content: start;
    z-index: 4;
    position: relative;
	left: 0;
	right: 0;
	top: 0;
    list-style: none;
    margin: 0;  
    padding: 0;
    font-size: auto;
    background-color: black;
}

.hamburger{
    font-size: 0;
}

.head_tab{
    display: inline-block;
    width: auto;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.close_head_tab{
    display: inline-block;
    width: auto;
    text-align: left;
    padding-left: 5px;
    text-decoration: none;
    font-size: x-small;
}

.close_home{
    font-family: 'Heading', Georgia, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin: 5px, 0, 5px, 2px;
    color: white;
}

.auto_links{
    display: inline-block;
    width: auto;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.bar {
    display: inline-block;
    width: auto;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color:white;
}

.tab_1{
    color: #ED4367;
}

.tab_2{
    color: #FFD337;
}

.all_projs{
    color: #663190;
}
  
.home {
    font-family: 'Heading', Georgia, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin-right: 5px;
    font-size: auto;
    color: white;
}
  
h1 {
    font-family: Georgia;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: auto;
    color: white;
}

@media (max-width: 480px){
    ul.Header{
        flex-direction: column;
    }

    .head_tab{
        text-align: center;
    }

    .hamburger{
        font-size: 16px;
        color:white;
        display: inline-block;
        padding-left: 10px;
    }

    .bar{
        font-size: 0;
    }
}
