p {
    font-family: 'Body', Georgia, serif;
    margin: 0;
    text-align: left;
}

div.spacing{
    display: inline;
    margin: 0;
    width: 0;
}

.bump{
    padding: 10px;
}

.section_title{
    margin: 0;
}

.title{
    font-family: 'Heading', Georgia, sans-serif;
    color: black;
}



p.inline_text{
    display: inline;
    margin-left: 0; 
}

a.inline_link{
    display: inline;
    margin: 0;
    width:100%;
    text-align:center;
}

img{
    width: 40%;
}