p {
    margin: 0;
    margin-left:50px;
    text-align: left;
}

div.spacing{
    display: inline;
    margin: 0;
    width: 0;
}

div.spacing_with_link{
    margin-left:50px;
}


p.inline_text{
    display: inline;
    margin-left: 0; 
}

a.inline_link{
    display: inline;
    margin: 0;
    width:100%;
    text-align:center;
}

img{
    width: 40%;
}