.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "Heading";
  src: url(./Font/FFF\ Tusj.ttf) format('ttf');
  src: url(./Font/fff_tusj-webfont.woff) format("woff");
}

@font-face {  
    font-family: "Body";
    src: url(./Font/genbkbasr-webfont.woff) format("woff");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.home_paralax{
  background-color: black;
  background: url(./BackgroundSplash.png);

  min-height: 91.5vh;

  overflow: hidden;
  

/* Create the parallax scrolling effect */
/*background-attachment: fixed;
background-position: bottom left;
background-repeat: no-repeat;
background-size: 100%;
}*/

.paralax{
  background-color: white;
  background: white url(./BackgroundSplash.png);

  min-height: 100vh;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: right bottom;
background-repeat: no-repeat;
background-size: 90%;
}

.content {
	background-color: white;
	width: 50%;
	padding: 25px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	padding: 10px;
}

.imagecenter {
	text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
